force-app/main/default/flows/Process_hours_in_the_past.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_in_the_past_to_amount</name>
        <label>Set in the past to amount</label>
        <locationX>174</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>$Record.Expenses_In_The_Past__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Process hours in the past {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process hours in the past</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_record</name>
        <label>Update the record</label>
        <locationX>430</locationX>
        <locationY>442</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>53</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Set_in_the_past_to_amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Needs_updating__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Expense__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-05</startDate>
            <startTime>12:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
